# üöå Projet MDM - Mobilit√© Durable en Montagne ‚õ∞Ô∏è

*Auteur : Thibault Launois*

*Date : 26/10/2025*

**Description :**

Ce script charge les donn√©es de **List_iti_D4G_isere_output_altitude.csv** g√©n√©r√© par **2025-10-20_TLaunois_C2C_altitude.ipynb** et va cr√©er un geoparquet.
Les points de d√©part pour chaque topo n'√©tant pas fourni par C2C, on d√©finit le point de d√©part comme √©tant le point d'un topo ayant l'altitude la plus basse.

# Importation des modules

In [1]:
import os

import geopandas as gpd
import pandas as pd

# working directory is the root of the project
os.chdir("../../")
from src.settings import EPSG_WGS84

# Charger les donn√©es

In [2]:
df = pd.read_csv("src/data/C2C/Liste_iti_D4G_isere_output_altitude.csv", index_col=0)
df.head(2)

,Titre itin√©raire,Id itin√©raire,url,activit√©,dur√©e,d√©nivel√© (m),longueur (m),R√©gion/massif,Id wp principal,"(id WP - titre - [X,Y] - accessibilit√© (si renseign√©) )",X,Y,lon,lat,altitude
0,Les Bans:Spigolo Sud du Contrefort M√©dian. Voi...,1780070,https://www.camptocamp.org/routes/1780070,mountain_climbing,['1'],NaN,0.0,(14328 - Is√®re)(14403 - √âcrins),39056.0,"(39056 - Les Bans - [705350.3499286951, 55976...",705350.349929,5.597690e+06,6.336270,44.848420,3564.832275
1,Les Bans:Spigolo Sud du Contrefort M√©dian. Voi...,1780070,https://www.camptocamp.org/routes/1780070,mountain_climbing,['1'],NaN,0.0,(14328 - Is√®re)(14403 - √âcrins),39056.0,(127458 - Entre Les Aygues - [712692.092985492...,712692.092985,5.594929e+06,6.402222,44.830833,1613.258789

# D√©terminer le point de d√©part pour chaque topo

On fait l'hypoth√®se que le point de d√©part d'un topo est le point ayant l'altitude la plus basse.\
La colonne "Id Itin√©raire" permet de compter le nombre de topo dans la base de donn√©e, attention diff√©rents topos peuvent avoir le m√™me nom.

In [3]:
# je cr√©e le dataframe avec le point de d√©part pour chaque topo
data = []

for id in df["Id itin√©raire"].unique():
    data.append(list(df[df["Id itin√©raire"] == id].sort_values("altitude").iloc[0]))

# aws = access way point
df_awp = pd.DataFrame(data=data, columns=df.columns)

# Rajout des colonnes avec l'id du point du d√©part et le nom
Dans la colonne **(id WP - titre - [X,Y] - accessibilit√© (si renseign√©) )**, on a les informations du point de d√©part.

In [4]:
column_name = "(id WP - titre - [X,Y] - accessibilit√© (si renseign√©) )"
regex_pattern = r"(?:\()(\d+)(?:\s-\s)([\D\s]+)(?=\s-\s\[\d)"

df_awp[["Id wp", "Name wp"]] = df_awp[column_name].str.split(
    pat=regex_pattern, regex=True, expand=True
)[[1, 2]]

# on regroupe et compte le nombre de topo par point de d√©part
df_awp2 = (
    df_awp.groupby(["Id wp", "Name wp", "lat", "lon"]).nunique()["Id itin√©raire"].to_frame()
)
df_awp2 = df_awp2.reset_index()

In [5]:
# df_awp2.to_csv("../data/C2C/Liste_point_depart_isere.csv", index = False)

# Cr√©ation du geo-parquet
Il faut renommer les colonnes afin de coller au format pour le g√©oparquet

In [ ]:
# Je renomme les colonnes existantes avec le bon nom
df_awp2 = df_awp2.rename(
    columns={
        "Name wp": "name",
        "Id wp": "navitia_id",
        "Id itin√©raire": "nombre_de_depart_de_topo",
    }
)

In [7]:
# je cr√©e les colonnes inexistantes et je les rempli de vide
df_awp2["description"] = ""
df_awp2["geometry"] = ""

In [8]:
# je transforme la colonne latitude et longitude en points (lat,lon) en cr√©ant le geo-dataframe
gdf = gpd.GeoDataFrame(
    df_awp2,
    geometry=gpd.points_from_xy(df_awp2.lat, df_awp2.lon, crs=EPSG_WGS84),
)

In [9]:
gdf.head()

,navitia_id,name,lat,lon,nombre_de_depart_de_topo,description,geometry
0,1007259,Parking de l'arr√™t de bus du Carret,45.312323,6.009099,1,,POINT (45.31232 6.0091)
1,102209,Aulp du Seuil,45.357150,5.896390,1,,POINT (45.35715 5.89639)
2,102210,La Bastille - le P√®r'Gras,45.202610,5.723100,2,,POINT (45.20261 5.7231)
3,102211,Rocher de la Betta,45.223611,5.993889,1,,POINT (45.22361 5.99389)
4,102212,Les Brieux,45.231240,5.694520,18,,POINT (45.23124 5.69452)

In [10]:
# Je r√©ordonne les colonnes dans le bon ordre
gdf = gdf[
    [
        "navitia_id",
        "name",
        "description",
        "geometry",
        "nombre_de_depart_de_topo",
    ]
]

In [11]:
# je sauvegarde au format dataframe
gdf.to_parquet("src/data/C2C/depart_topos_stops_isere.parquet", index=False)