üöå Projet MDM - Mobilit√© Durable en Montagne ‚õ∞Ô∏è

*Author : Nicolas Grosjean*

*Date : 13/09/2025*

**Description :**

This Jupyter Notebook analyses the OSM data

In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
%cd ../..
print("Working directory set to the root of the project")

D:\Documents\GitHub\mobilite_durable
Working directory set to the root of the project

In [3]:
from src.processors.osm import OSMBusLinesProcessor, OSMBusStopsProcessor

In [4]:
def get_markdown_dtype(df: pd.DataFrame):
    markdown_table = "| Column | Dtype |\n|--------|-------|\n"
    for col in df.columns:
        non_null = df[col].count()
        dtype = df[col].dtype
        markdown_table += f"| {col} | {dtype} |\n"
    return markdown_table

In [5]:
bus_data = OSMBusStopsProcessor.fetch(reload_pipeline=False)
stops_df = pd.DataFrame(bus_data["features"])
stops_df.head()

,type,geometry,properties,id
0,Feature,"{'type': 'Point', 'coordinates': [5.7762176, 4...","{'bus': 'yes', 'highway': 'bus_stop', 'name': ...",135296
1,Feature,"{'type': 'Point', 'coordinates': [5.7423146, 4...","{'bus': 'yes', 'highway': 'bus_stop', 'name': ...",135930
2,Feature,"{'type': 'Point', 'coordinates': [5.6815922, 4...","{'bus': 'yes', 'description': 'Arr√™t de r√©gula...",136570
3,Feature,"{'type': 'Point', 'coordinates': [5.6627217, 4...","{'bus': 'yes', 'highway': 'bus_stop', 'name': ...",136597
4,Feature,"{'type': 'Point', 'coordinates': [5.604304, 45...","{'bus': 'yes', 'highway': 'bus_stop', 'name': ...",137073

In [6]:
expanded = stops_df["properties"].apply(pd.Series)
expanded_stops_df = pd.concat([stops_df.drop(columns=["properties"]), expanded], axis=1)
expanded_stops_df[expanded_stops_df.columns[:10]].head()

,type,geometry,id,bus,highway,name,network,public_transport,wheelchair,description
0,Feature,"{'type': 'Point', 'coordinates': [5.7762176, 4...",135296,yes,bus_stop,Universit√© - IUT-STAPS,M r√©so,stop_position,yes,NaN
1,Feature,"{'type': 'Point', 'coordinates': [5.7423146, 4...",135930,yes,bus_stop,H√¥pital Couple Enfant,M r√©so,stop_position,yes,NaN
2,Feature,"{'type': 'Point', 'coordinates': [5.6815922, 4...",136570,yes,bus_stop,Cap des H',M r√©so,stop_position,NaN,"Arr√™t de r√©gulation, non commercial."
3,Feature,"{'type': 'Point', 'coordinates': [5.6627217, 4...",136597,yes,bus_stop,Place de la Lib√©ration,M r√©so,stop_position,yes,NaN
4,Feature,"{'type': 'Point', 'coordinates': [5.604304, 45...",137073,yes,bus_stop,Centr'Alp 2,M r√©so,stop_position,NaN,NaN

In [7]:
expanded_stops_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6874 entries, 0 to 6873
Data columns (total 78 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   type                           6874 non-null   object
 1   geometry                       6874 non-null   object
 2   id                             6874 non-null   int64
 3   bus                            5924 non-null   object
 4   highway                        6874 non-null   object
 5   name                           6460 non-null   object
 6   network                        4907 non-null   object
 7   public_transport               6840 non-null   object
 8   wheelchair                     1322 non-null   object
 9   description                    285 non-null    object
 10  disused                        83 non-null     object
 11  network:wikidata               416 non-null    object
 12  fixme                          68 non-null     object
 13  source                         165 non-null    object
 14  shelter                        574 non-null    object
 15  toilets                        1 non-null      object
 16  bench                          389 non-null    object
 17  bin                            187 non-null    object
 18  lit                            112 non-null    object
 19  tactile_paving                 190 non-null    object
 20  mapillary                      290 non-null    object
 21  survey:date                    271 non-null    object
 22  departures_board               30 non-null     object
 23  old_name                       40 non-null     object
 24  pole                           56 non-null     object
 25  amenity                        3 non-null      object
 26  alt_name                       32 non-null     object
 27  gtfs_id                        595 non-null    object
 28  ref                            237 non-null    object
 29  lwn_name                       28 non-null     object
 30  network:type                   28 non-null     object
 31  expected_lwn_route_relations   9 non-null      object
 32  operator                       104 non-null    object
 33  network:wikipedia              12 non-null     object
 34  name:Autrans                   12 non-null     object
 35  tram                           6 non-null      object
 36  check_date:lit                 1 non-null      object
 37  image                          16 non-null     object
 38  level                          47 non-null     object
 39  covered                        50 non-null     object
 40  local_ref                      105 non-null    object
 41  route_ref                      15 non-null     object
 42  ref:station                    40 non-null     object
 43  waste_basket                   4 non-null      object
 44  ref:Chamrousse                 2 non-null      object
 45  check_date:shelter             15 non-null     object
 46  passenger_information_display  9 non-null      object
 47  name:oc                        3 non-null      object
 48  source:name:oc                 3 non-null      object
 49  short_name                     18 non-null     object
 50  name:signed                    8 non-null      object
 51  operator:wikidata              11 non-null     object
 52  information                    1 non-null      object
 53  map_size                       1 non-null      object
 54  map_type                       1 non-null      object
 55  tourism                        1 non-null      object
 56  not:network:wikidata           2 non-null      object
 57  abandoned                      1 non-null      object
 58  ref:FR:TCL                     3 non-null      object
 59  note                           5 non-null      object
 60  name:Transis√®re                1 non-null      object
 61  traffic_calming                2 non-null      object
 62  shelter_type                   1 non-null      object
 63  check_date:bench               3 non-null      object
 64  check_date:bin                 1 non-null      object
 65  ref:FR:CG38                    8 non-null      object
 66  source:date                    15 non-null     object
 67  check_date                     1 non-null      object
 68  website                        1 non-null      object
 69  disused:public_transport       1 non-null      object
 70  stop_id                        2 non-null      object
 71  description:en                 1 non-null      object
 72  wikimedia_commons              1 non-null      object
 73  name:etymology:wikidata        2 non-null      object
 74  noname                         2 non-null      object
 75  construction                   2 non-null      object
 76  start_date                     2 non-null      object
 77  tourist_bus                    2 non-null      object
dtypes: int64(1), object(77)
memory usage: 4.1+ MB

In [8]:
print(
    get_markdown_dtype(expanded_stops_df[expanded_stops_df.columns[:10]]).replace(
        "object", "string"
    )
)

| Column | Dtype |
|--------|-------|
| type | string |
| geometry | string |
| id | int64 |
| bus | string |
| highway | string |
| name | string |
| network | string |
| public_transport | string |
| wheelchair | string |
| description | string |

In [9]:
line_data = OSMBusLinesProcessor.fetch(reload_pipeline=False)
lines_df = pd.DataFrame(line_data)
lines_df.head()

,id,tags,stops
0,2067887,"{'colour': 'e53b1a', 'from': 'Gare de Saint-Cl...","[1659415935, 8874916309, 11146173165, 11146173..."
1,2073673,"{'disused:type': 'route', 'name': 'Tad 4', 'ne...",[]
2,2569190,"{'colour': '#ee0064', 'from': 'Grenoble - Gare...","[2617010911, 474827289, 6074566590]"
3,2569239,"{'colour': '#ee0064', 'from': 'A√©roport Lyon S...","[6074566590, 457759141, 2617010911]"
4,2920548,"{'colour': '#1f72b9', 'description': 'Circule ...","[2299463674, 513946287, 513946283, 513946279, ..."

In [10]:
expanded = lines_df["tags"].apply(pd.Series)
expanded_lines_df = pd.concat([lines_df.drop(columns=["tags"]), expanded], axis=1)
expanded_lines_df.head()

,id,stops,colour,from,name,network,operator,public_transport:version,ref,route,...,charge,url,comment,fixme,name:pt,bus,check_date,name:eu,duration,public_transport
0,2067887,"[1659415935, 8874916309, 11146173165, 11146173...",e53b1a,Gare de Saint-Clair-Les-Roches,Ligne A : Gare de Saint-Clair-Les-Roches ‚áí Ron...,TPR,Courriers Rhodaniens / Fayard,2,A,bus,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2073673,[],NaN,NaN,Tad 4,TPR,Courriers Rhodaniens / Fayard,1,4,bus,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2569190,"[2617010911, 474827289, 6074566590]",#ee0064,Grenoble - Gare Routi√®re,Ouibus 70 : Grenoble Gare Routi√®re -> A√©roport...,BlaBlaBus,Faure Vercors,2,70,bus,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2569239,"[6074566590, 457759141, 2617010911]",#ee0064,A√©roport Lyon Saint-Exup√©ry - Terminal 1,Ouibus 70 : A√©roport Lyon Saint-Exup√©ry -> Pla...,BlaBlaBus,Faure Vercors,2,70,bus,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2920548,"[2299463674, 513946287, 513946283, 513946279, ...",#1f72b9,Saint Ismier - Bois Fran√ßais,15 : Bois Fran√ßais => Grenoble (via Chenevi√®res),M r√©so,VFD,2,15,bus,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
expanded_lines_df.loc[4, expanded_lines_df.columns[:25]]

id                                                                    2920548
stops                       [2299463674, 513946287, 513946283, 513946279, ...
colour                                                                #1f72b9
from                                             Saint Ismier - Bois Fran√ßais
name                         15 : Bois Fran√ßais => Grenoble (via Chenevi√®res)
network                                                                M r√©so
operator                                                                  VFD
public_transport:version                                                    2
ref                                                                        15
route                                                                     bus
to                                               Grenoble - Verdun-Pr√©fecture
type                                                                    route
via                                                      Dom√®ne - Chenevi√®res
disused:type                                                              NaN
note                                                                      NaN
network:wikidata                                                   Q131689044
network:wikipedia                                                         NaN
old_name                                                                  NaN
opening_hours                                                         Jul-Aug
description                                                     Circule l'√©t√©
wheelchair                                                                yes
old_ref                                                                   NaN
not:network:wikidata                                                      NaN
source                                                                    NaN
gtfs_id                                                                   NaN
Name: 4, dtype: object

In [12]:
expanded_lines_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1867 entries, 0 to 1866
Data columns (total 70 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1867 non-null   int64
 1   stops                     1867 non-null   object
 2   colour                    1440 non-null   object
 3   from                      1862 non-null   object
 4   name                      1867 non-null   object
 5   network                   1861 non-null   object
 6   operator                  1595 non-null   object
 7   public_transport:version  1864 non-null   object
 8   ref                       1864 non-null   object
 9   route                     1867 non-null   object
 10  to                        1862 non-null   object
 11  type                      1867 non-null   object
 12  via                       150 non-null    object
 13  disused:type              1 non-null      object
 14  note                      20 non-null     object
 15  network:wikidata          1389 non-null   object
 16  network:wikipedia         639 non-null    object
 17  old_name                  11 non-null     object
 18  opening_hours             237 non-null    object
 19  description               73 non-null     object
 20  wheelchair                209 non-null    object
 21  old_ref                   93 non-null     object
 22  not:network:wikidata      10 non-null     object
 23  source                    18 non-null     object
 24  gtfs_id                   335 non-null    object
 25  roundtrip                 27 non-null     object
 26  fee                       27 non-null     object
 27  seasonal                  2 non-null      object
 28  gtfs:feed                 2 non-null      object
 29  gtfs:route_id             40 non-null     object
 30  gtfs:shape_id             40 non-null     object
 31  gtfs:trip_id:sample       2 non-null      object
 32  network:guid              2 non-null      object
 33  network:short             2 non-null      object
 34  ref_trips                 2 non-null      object
 35  website                   85 non-null     object
 36  phone                     60 non-null     object
 37  oneway                    2 non-null      object
 38  interval                  15 non-null     object
 39  interval:conditional      8 non-null      object
 40  network:website           29 non-null     object
 41  operator:wikidata         17 non-null     object
 42  name:de                   91 non-null     object
 43  name:fr                   88 non-null     object
 44  name:it                   26 non-null     object
 45  text_colour               34 non-null     object
 46  operator:wikipedia        8 non-null      object
 47  name:hr                   2 non-null      object
 48  name:ca                   17 non-null     object
 49  name:en                   5 non-null      object
 50  name:es                   19 non-null     object
 51  description:ca            4 non-null      object
 52  description:es            4 non-null      object
 53  description:fr            4 non-null      object
 54  description:de            1 non-null      object
 55  on_demand                 2 non-null      object
 56  segment                   2 non-null      object
 57  owner                     2 non-null      object
 58  ownership                 2 non-null      object
 59  reservation               1 non-null      object
 60  charge                    15 non-null     object
 61  url                       20 non-null     object
 62  comment                   1 non-null      object
 63  fixme                     13 non-null     object
 64  name:pt                   1 non-null      object
 65  bus                       10 non-null     object
 66  check_date                1 non-null      object
 67  name:eu                   2 non-null      object
 68  duration                  3 non-null      object
 69  public_transport          1 non-null      object
dtypes: int64(1), object(69)
memory usage: 1021.1+ KB

In [13]:
print(
    get_markdown_dtype(expanded_lines_df[expanded_lines_df.columns[:25]]).replace(
        "object", "string"
    )
)

| Column | Dtype |
|--------|-------|
| id | int64 |
| stops | string |
| colour | string |
| from | string |
| name | string |
| network | string |
| operator | string |
| public_transport:version | string |
| ref | string |
| route | string |
| to | string |
| type | string |
| via | string |
| disused:type | string |
| note | string |
| network:wikidata | string |
| network:wikipedia | string |
| old_name | string |
| opening_hours | string |
| description | string |
| wheelchair | string |
| old_ref | string |
| not:network:wikidata | string |
| source | string |
| gtfs_id | string |

**TODO**
- Filter disabled lines and stops